<h1>Quotes App </h1>
<div class="flex">
    <div>
        <img src="http://librarystorytime.files.wordpress.com/2009/06/creativewriting.jpg" height="300px">
    </div>
    <div>
        <h3>About Us</h3>
        <p>This app was mainly structured to help upcoming artists who aspire to be poets.<br>
            We thought it would be a good thing for them to have a good place where they could<br>
             start practicing and go public with their amazing quotes. This app will achieve <br>
             that by helping them first go public with their quotes, which would help them get <br>
             reviews by the numbers of likes the quote can have.<br>
             With that they could do better next time.<br>
            But this could also be a good place for you quote lovers who can post whatever quote u love. 
        </p>
        <h4>Enjoy!</h4>
    </div>

</div>

<app-quote-display></app-quote-display>
<footer>
        <p>&copy; All rights reserved by quotesApp @2019</p>
</footer>